.index {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bg{
  position: absolute;
  height: 100%;
  width:100%;
  opacity: 0.4;
  top:0
}

.content{
  z-index: 10;
}